/* Votre CSS ici ! */

/* ----- RESET ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- HEADER ----- */

/* ----- MAIN ----- */

/* --- body --- */
body {
  margin: 10px;
}

/* - Tableau - */
th,
td {
  text-align: center;
  vertical-align: middle;
}