/* Votre CSS ici ! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete-icon {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
}

.delete-icon:hover {
  background-color: #bb2d3b;
  border: #bb2d3b;
}

#productName:hover,
#productPrice:hover,
#productQuantity:hover {
  cursor: pointer;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

button {
  margin: 5px;
}

.row {
  align-items: center;
}